ul {
    display: flex;
    justify-content: space-between;
}

ul li:nth-child(1) {
    order: 5;
}

ul li:nth-child(2) {
    order: 4;
}

ul li:nth-child(4) {
    order:3;
}

ul li:nth-child(5) {
    order:2;
}

ul li:nth-child(3) {
    order: 1;
}

li:nth-child(4)::before {
    content: 'THE BOSS';
    color: red;
    font-weight:900;
    font-size: 12px;
    display: block;
    position: absolute;
    padding: 0px;
    top:-2px;
    margin-top: 0px;
    padding-top: 0px;
    z-index: 4;
}